:root {
  --red-medium: #ea4335;
  --red-dark-light: #c5221f;
  --blue-light: #21b8fc;
  --blue-medium: #2196f3;
  --blue-elegant-light: #1c3aa8;
  --blue-elegant: #122874;
  --blue-elegant-dark: #091533;
  --yellow-soft: #fab005;
  --green-medium: #85a805;
}
