:root {
  --red-medium: #ea4335;
  --red-dark-light: #c5221f;
  --blue-light: #21b8fc;
  --blue-medium: #2196f3;
  --blue-elegant-light: #1c3aa8;
  --blue-elegant: #122874;
  --blue-elegant-dark: #091533;
  --yellow-soft: #fab005;
  --green-medium: #85a805;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.habiltys {
  bottom: 10%;
}

.three {
  background: var(--blue-elegant-light);
  height: 60vh;
}

.three div p {
  font-size: 18px;
}

.four {
  height: 30vh;
}

.fourp {
  height: 170vh;
}

@media screen and (min-width: 650px) {
  .fourp {
    height: 85vh;
  }
}

.five {
  background-color: var(--blue-elegant);
  height: 50vh;
}

.six {
  background-color: var(--red-dark-light);
  height: 15vh;
}

.sixp {
  height: 65vh;
}

@media screen and (max-width: 860px) {
  .sixp {
    /* width: 75%; */
    height: 50vh;
  }
}

.seven {
  background: green;
  height: 25vh;
}

.eight {
  background: #1c1d21;
  height: 75vh;
}

.hr-langaugues {
  height: 4px;
  border-width: 0;
  background-color: var(--red-medium);
  box-shadow: 0 0 20px var(--red-medium), 0 0 40px var(--red-medium);
}

.nine {
  height: 25vh;
}

/* ! Para el circular nav */
.ninep {
  height: 60vh;
}

.hr-tools {
  height: 4px;
  border-width: 0;
  background-color: var(--blue-elegant-light);
  box-shadow: 0 0 20px var(--blue-elegant-light),
    0 0 40px var(--blue-elegant-light);
}

.ten {
  height: 25vh;
}

/* ! Para el circular nav */
.tenp {
  height: 60vh;
}
