.img-game {
  width: 100%;
  height: auto;
  justify-content: center;
}

.slider-carousel {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (max-width: 860px) {
  .slider-carousel {
    width: 75%;
  }
}

.slick-prev::before {
  color: rgb(255, 0, 0);
}

.slick-next::before {
  color: rgb(255, 0, 0);
}

.see-page {
  color: white;
  font-size: 18px;
}
